@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}


/* Shared styles */

.product {
    border: none;
    border: 1px solid #FFF;
    border-radius: 10px;
    background-color: #FFF;
    border-radius: 5px;
    max-width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 16px 14px;
}

.product-title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.4;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 6px;
}

.product-price {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}


.product-rating {
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgba(94, 99, 102, 1);
    display: flex;
    gap: 8px;
}

.product-rating p {
    line-height: 1.67;
}


.product-desc {
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 1.8;
    color: rgba(120, 120, 133, 1);
}

.btn-primary {
    padding: 10px 24px;
    background-color: #E02C6D;
    border-radius: 42px;
    font-weight: bold;
    color: #FFF;
    border: none;

}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}


/* Navbar design */

.nav-bar {
    align-items: center;
    grid-template-columns: 0.9fr 1.1fr;
    justify-content: center;
    align-items: center;
    margin: 40px 120px;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3a3a33;
}

.nav-links {
    gap: 24px;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
}

.nav-links li {
    list-style: none;
}

.nav-item  a {
    text-decoration: none;
    color: #3a3a33;
}


/* Banner design */

.banner {
    gap: 130px;
    align-items: center;
    justify-content: center;
    margin: 130px 165px 100px 120px;
}

.banner-title {
    font-size: 3.25rem;
    line-height: 1.35;
    font-weight: bold;
    color: #3a3a33;
    margin-bottom: 10px;
}

.banner-desc {
    font-weight: 600;
    color: #3a3a33;
    margin-bottom: 16px;
}

.btn-arrow  {
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.banner-image {
    background-image: url("/images/Circledesign.svg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}


/* Company sponsors logo */

.company-logo {
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px 0;
}


/* Products section */

.products {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    gap: 30px;
}

.section-title {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.5;
    text-align: center;
    margin-bottom: 30px;
}


/* Featured section */

.everything-in-one-place {
    gap: 96px;
    margin: 100px 165px;
    align-items: center;
    justify-content: center;
}

.products-image img {
    border-radius: 7px;
}

.section-header {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.57;
    color: #0A0826;
    margin-bottom: 16px;
}

.section-desc {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.75;
    color: #6C6C6C;
}



/* Responsive design */

/* Smaller device less than 576px */

@media screen and (max-width: 576px) {
    .nav-bar {
        text-align: center;
        margin: 8px;
    }

    .nav-bar, 
    .nav-links {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .brand-name {
        font-size: 1.25rem;
    }

    .nav-links li a {
        font-size: 0.875rem;
    }

    /* Banner section design */

    .banner {
        flex-direction: column-reverse;
        margin: 18px;
        gap: 14px;
        text-align: center;
    }
    .banner-title {
        font-size: 1.75rem;
    }
    .banner-desc {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }
    .banner-image {
        max-width: 260px;
    }

    .banner-image img {
        width: 100%;
    }
    .btn-arrow {
        margin: 0 auto;
    }

    /* company logo section */
    .company-logo {
        gap: 32px;
        margin: 48px 16px;
    }

    /* porducts section */

    .products {
        flex-direction: column;
        align-items: center;
        margin-left: 8px;
        margin-right: 8px;
        gap: 16px;
    }

}


/* Medium device 576px to 768px */

@media screen and (min-width: 576px) and (max-width: 768px) {
    .nav-bar {
        text-align: center;
    }
    
    .nav-bar, 
    .nav-links {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .brand-name {
        font-size: 1.25rem;
    }

    .nav-links li a {
        font-size: 0.875rem;
    }

    /* Banner section design */

    .banner {
        flex-direction: column-reverse;
        margin: 18px;
        gap: 14px;
        text-align: center;
    }
    .banner-title {
        font-size: 1.75rem;
    }
    .banner-desc {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }
    .banner-image {
        max-width: 260px;
    }

    .banner-image img {
        width: 100%;
    }
    .btn-arrow {
        margin: 0 auto;
    }

    /* company logo section */
    .company-logo {
        margin: 32px 16px;
        gap: 24px;
    }

    /* products section */

    .products {
        margin: 16px;
        align-items: center;
        justify-content: center;
    }

    .product {
        max-width: 260px;
        width: 100%;
    }

    .product-image {
        max-width: calc(260px - 16px);
        width: 100%;
    }
    

}

/* large device 768px to 992px */

@media screen and (min-width: 768px) and (max-width:992px) {
    .nav-bar {
        margin: 16px 16px;
    }

    .nav-links {
        gap: 20px;
    }

    .brand-name {
        font-size: 1.25rem;
    }

    .nav-links li a {
        font-size: 0.875rem;
    }

    /* Banner section design */

    .banner {
        flex-direction: column-reverse;
        margin: 18px;
        gap: 14px;
        text-align: center;
    }
    .banner-title {
        font-size: 1.75rem;
    }
    .banner-desc {
        font-size: 0.875rem;
        margin-bottom: 20px;
    }
    .banner-image {
        max-width: 260px;
    }

    .banner-image img {
        width: 100%;
    }
    .btn-arrow {
        margin: 0 auto;
    }

    /* company logo section */

    .company-logo {
        gap: 24px;
        margin: 32px;
    }


    /* products section */

    .products {
        margin: 32px 32px;
    }
}

/* larger device 992px 1024px */

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .nav-bar {
        margin: 32px 16px;
    }
    .banner {
        margin: 48px;
    }
    .banner-title {
        font-size: 2.75rem;
    }

    /* company logo */
    .company-logo {
        margin: 48px;
        gap: 24px;
    }

    /* products section */

    .products {
        margin: 48px;
    }


}